body{
	background:#ccc;
}
#yingyang{
	width: 200px;height: 200px;
	/*border: 1px solid red;*/
	border-radius: 50%;
	background:linear-gradient(to bottom,#ffffff 0%,#ffffff 50%,#000000 51%,#000 100%);
	position: relative;
	margin:100px auto;
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#yingyang >.one{
	width: 100px;
	height: 100px;
/*	border: #000000px solid;*/
	background-color: #000;
	position: absolute;
	left: 0;
	border-radius:50% ;
	top: 25%;
}
#yingyang >.two{
	width: 100px;
	height: 100px;
	border: #000000px solid;
	background-color: #fff;
	position: absolute;
	right: 0;
	border-radius:50% ;
	top: 25%;
}
#yingyang .circle{
	width: 15px;
	height: 15px;
	/*border: 1px solid red;*/
	border-radius:50% ;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
}
#yingyang .circle2{
	background: #000;
}
@keyframes slidein{
	from {
		transform:rotate(0deg)
	}
	to {
		transform:rotate(360deg)
	}
}
